.popup-image__content {
    /*max-width: 80vw;
    max-height: 80vh;*/
    border-radius: 0px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}